<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.err</target>
    <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
  </appender>

  <appender name="ASYNC_STDERR" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDERR"/>
    <neverBlock>true</neverBlock>
  </appender>

  <root level="info">
    <appender-ref ref="ASYNC_STDERR"/>
  </root>
</configuration>
